.interface__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main__container {
    width: Calc(100vw - 250px);
    position: absolute;
    left: 250px;
    top: 100px;
    height: Calc(100% - 100px);
    padding: 2em;
    overflow-y: scroll;
    transition: 1s ease-in-out;
}

.fullsize {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 1110px) {
    .main__container {
        top: 60px;
        left: 90px;
        height: Calc(100% - 60px);
        width: Calc(100% - 90px);
    }
}

@media screen and (max-width: 410px) {
    .main__container {
        left: 50px;
        width: Calc(100% - 50px);
    }
}