.main__wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}

.game__container {
    width: 100%;
    margin: 5em 0 5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__container .place-bet__container {
    flex: 1;
    max-width: 450px;
    display: flex;
    justify-content: center;
    margin-right: 1em;
}

.game__container .place-bet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game__container .place-bet .bet-coins {
    padding-left: 5px;
    color: var(--Rose);
    margin: 1em 0 1em 0;
    font-size: medium;
}

.game__container .place-bet .bets-values {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 600;
    color: var(--Grey);
    margin-bottom: 1em;
}

.game__container .place-bet .bets-values .bets-values-item {
    cursor: pointer;
    margin-right: 1em;
}
.game__container .place-bet .bets-values .bets-values-item:hover {
    color: white;
}
.game__container .place-bet .bets-values .bets-values-item:nth-child(1) {
    padding-left: 5px;
}


.game__container .place-bet > input {
    color: white;
    max-width: 300px;
    min-height: 20px;
    transition: 400ms linear;
    padding: 5px;
    background-color: var(--Shark);
    border: 1px solid var(--MainBg);
    border-bottom: 1px solid var(--Grey);
    border-radius: 5px 10px 10px 0;
}

.game__container .place-bet > input:hover,
.game__container .place-bet > input:focus {
    border: 1px solid var(--Rose);
}

.game__container .wheel__container {
    /* flex: 1; */
    display: grid;
    place-items: center;
    height: 100%;
    position: relative;
}

.game__container .wheel__container .wheel {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    animation: spin 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    border: 2px dotted var(--Rose); 
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e"); */
}

.game__container .history {
    flex: 1;
    max-width: 450px;
    display: flex;
    justify-content: center;
}

.bets__container {
    width: 100%;
    height: 60vh;
    max-height: 500px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bets {
    flex: 1;
    display: flex;
    height: auto;
    margin: 1em;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--Shark);
}

.bets .bet-button {
    display: grid;
    place-items: center;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease;
    border-radius: 10px;
}
.bets:nth-child(1) {
    color: var(--Grey);
}
.bets:nth-child(2) {
    color: var(--Rose);
}
.bets:nth-child(3) {
    color: var(--Teal);
}
.bets:nth-child(4) {
    color: var(--Gold);
}
.bets:nth-child(1) .bet-button {
    border: 2px solid var(--Grey);
}
.bets:nth-child(2) .bet-button {
    border: 2px solid var(--Rose);
}
.bets:nth-child(3) .bet-button {
    border: 2px solid var(--Teal);
}
.bets:nth-child(4) .bet-button {
    border: 2px solid var(--Gold);
}
.bets:nth-child(1) .bet-button:hover {
    color: white;
    background-color: var(--Grey) !important;
}
.bets:nth-child(2) .bet-button:hover {
    color: white;
    background-color: var(--Rose) !important;
}
.bets:nth-child(3) .bet-button:hover {
    color: white;
    background-color: var(--Teal) !important;
}
.bets:nth-child(4) .bet-button:hover {
    color: white;
    background-color: var(--Gold) !important;
}

.bets .bet-people {
    margin-top: 2em;
    padding: 1em;
}

@keyframes meRotate {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

@media screen and (max-width: 1000px) {
    .game__container {
        flex-direction: column;
        margin-bottom: 2em;
    }

    .game__container .wheel__container {
        order: 1;
    }

    .game__container .place-bet__container {
        margin: 2em 0 2em 0;
        order: 2;
    }

    .game__container .place-bet > input {
        border-radius: 10px;
    }

    .game__container .history {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .game__container .wheel__container .wheel {
        width: 300px;
        height: 300px;
    }

    .game__container {
        margin: 1em 0em 1em 0em;
    }

    .bets__container {
        height: auto;
        flex-shrink: 1;
        flex-direction: column;
    }

    .bets__container .bets {
        max-width: none;
        margin: 1em 0em 1em 0em;
        width: 100%;
    }

    .bet-people {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .game__container {
        min-height: unset;
    }

    .game__container .place-bet__container {
        max-width: 100%;
    }

    .game__container .place-bet .bets-values {
        display: none;
    }

    .game__container .wheel__container .wheel {
        width: 220px;
        height: 220px;
    }
}