.chat__container {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: Calc(100vh - 100px);
    background-color: var(--Shark);
}

.chat-text {
    margin-top: 1em;
    height: 75vh;
    width: 90%;
    background-color: teal;
    overflow-y: scroll;
}

.chat-message {
    
}

.chat-input {

}