.auth-wrapper {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        display: grid;
        place-items: center;
}

.auth__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hsl(240, 8%, 14%, 0.7);
    border: 2px solid var(--Rose);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.auth-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 10px;
    width: 70%;
}

.auth-home {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--Rose);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.auth-home:hover {
    transform:scale(1.2);
}

.auth-input__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.icon {
    width: 70%;
}

.auth-input {
    width: 100%;
    margin: 0.5em;
    background-color: var(--MainBg);
    border: 1px solid var(--MainBg);
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    outline: none;
}

    .auth-input:focus {
        border: 1px solid var(--Rose) !important;
        /* transform: scale(1.1); */
    }

    
.auth-buttons__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auth-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 0.5em;
    display: grid;
    place-items: center;
    background-color: var(--RoseSub);
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.auth-button:hover {
    transform: scale(1.1);
    background-color: var(--Rose);
}

@media screen and (min-width: 600px) {
    .auth__container {
        height: fit-content;
        width: 500px;
        max-height: 90vh;
        border-radius: 10px;
    }
    .auth-content-wrapper {
        width: 80%;
        max-width: 400px;
    }

    .auth-buttons__container {
        flex-direction: row;
    }

    .auth-button {
        flex: 1;
    }
}