.container-100v {
    /* Shitty on phone browsers! */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.shark {
    background-color: var(--Shark);
} 
.shark-sub {
    background-color: var(--SharkSub);
}
.shark-dark {
    background-color: var(--SharkDark);
}
.main-bg {
    background-color: var(--MainBg);
}

/* Chat test */

.test-chat {
    display: flex;
    flex-direction: row;
    width: 100ch;
}

.test-chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: row;
    width: 500px;
    font-size: large;
}

.test-chatbox > input {
    background-color: var(--Shark);
    border: 1px solid var(--Grey);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 1em;
    width: 90%;
}

.test-users {

}

.test-chat-messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    background-color: var(--Shark);
    border-radius: 10px;
}

.test-message {
    margin: 0.5em;
    padding: 5px;
    border-bottom: 1px solid var(--Grey);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    max-width: 600px;
    position: relative;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
    min-height: 300px;
    min-width: 100%;
    background-color: var(--Shark);
    border-radius: 10px;
    font-size: small;
}

.updates-modal {
    position: absolute;
    z-index: 100;
    width: 90%;
    left: 50%;
    transition: 200ms ease-in-out;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    background-color: var(--Rose);
}

.chat-test-message {
    margin: 1em;
    padding: 10px;
    background-color: var(--SharkDark);
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
    word-break: break-all;
}

.chat-test-message:not(:first-child) {
    margin-top: 0em;
}

.chat-input-test {
    min-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-top: 1em;
    background-color: var(--SharkDark);
    border-radius: 10px;
}

.chat-input-test > input {
    /* width: 90%; */
    /* flex: 10; */
    color: white;
    padding: 5px;
    margin-right: 1em;
    width: 90%;
}

.chat-input-test > input:hover {
    border-bottom: 1px solid var(--Grey);
}

.chat-input-test > input:focus {
    border-bottom: 1px solid var(--Rose) !important;
}

.chat-submit {
    transition: 200ms ease-in-out;
    padding: 8px;
    border-radius: 5px;
    /* flex: 1; */
}

.chat-submit:hover {
    cursor: pointer;
    background-color: var(--Rose);
}

.user-wrapper {
    display: flex;
    flex-direction: column;
}

.user-container {
    width: 120px;
    min-height: 50px;
    max-height: Calc(340px + 1em);
    overflow: auto;
    margin-left: 1em;
    border-radius: 10px;
    background-color: var(--Shark);
    padding: 0.5em;
    font-weight: bold;
    letter-spacing: 1px;
    min-height: 300px;
    max-height: 300px; 
}

.user-menu {
    border-radius: 10px;
    background-color: var(--Shark);
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}

.user-menu .item {
    cursor: pointer;
    transition: 200ms ease-out;
}

.user-menu .item:hover {
    transform: scale(1.2);
    color: var(--Rose)
}